/* METTRE POLICE ECRITURE GOOGLE FONTS */

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* CSS Partie Présentation Principale */
.presentation {
    text-align: center;
    padding: 0.5rem;
    margin-top: 10rem;
}

    .main_logo {
        width: 12rem;
        height: auto;
    }

    .presentation h1 {
        padding: 0.3rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 2.5rem;
    }

    .presentation p {
        color: rgb(46, 46, 46);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.4rem;
        font-size: 1.5rem;
    }

    .presentation .sous_p {
        font-size: 2rem;
    }

    .main_download {
        margin-top: 2rem;
    }

        .main_download h4 {
            padding: 0.5rem;
            font-size: 1.3rem;
        }

        .btn_download {
            font-size: 1.1rem;
        }


@media (min-width:600px) {
    .presentation {
        margin-top: 5rem;
    }

    .main_logo {
        width: 12rem;
        height: auto;
    }

    .main_download h4 {
        font-size: 1.5rem;
    }

    .btn_download {
        font-size: 1.2rem;
    }
}

@media (min-width:950px) {
.presentation {
    padding: 1rem;
    margin-top: 2rem;
}

    .main_logo {
        width: 16rem;
        height: auto;
    }

    .presentation h1 {
        padding: 0.3rem;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 3.5rem;
    }

    .presentation p {
        color: rgb(46, 46, 46);
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 0.4rem;
        font-size: 2.5rem;
    }

    .presentation .sous_p {
        font-size: 2.2rem;
    }

        .main_download h4 {
            font-size: 2rem;
        }

        .btn_download {
            font-size: 1.4rem;
        }
}