/****************************************************************************/
/* CLASSES DE RESET #######################################################*/
/***************************************************************************/
/*(permet de supprimer le css par défaut ajouter par l'html)*/

.reset-html {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

.h1-reset, .h2-reset, .h3-reset, .h4-reset, .h5-reset, .h6-reset {
    margin: 0;
}

.p-reset {
    margin: 0;
}

.a-reset {
    text-decoration: none;
    color: black;
}

.list-reset {
    list-style: none;
}

/****************************************************************************/
/* CLASSES TRES PRATIQUE & SOUVENT UTILISÉ ################################*/
/***************************************************************************/

.txt-c {
    text-align: center;
}

/****************************************************************************/
/* CLASSES DES IMAGES & VIDEOS ############################################*/
/***************************************************************************/

.img_background {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -10;
}

.block_video {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
    /* A PLACER DANS BALISE VIDEO QUI EST DANS DIV AVEC CLASSE .block_video */
    .video_background {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        z-index: -10;
        transform: translate(-50%, -50%);
    }



/****************************************************************************/
/* CLASSES DES BOUTONS ####################################################*/
/***************************************************************************/

.btn {
    padding: 0.4rem;
    cursor: pointer;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

    .btn:active {
        padding: 0.33rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

.btn-black {
    background-color: rgb(19, 19, 19);
    color: rgb(243, 239, 239);
    border-radius: 10%;
    padding: 0.4rem;
    cursor: pointer;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

    .btn-black:active {
        background-color: rgb(57, 57, 57);
        padding: 0.33rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

.btn-blue {
    background-color: rgb(16, 114, 179);
    color: rgb(243, 239, 239);
    border-radius: 7%;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}
    
    .btn-blue:active {
        background-color: rgb(16, 114, 179);
        padding: 0.33rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }


/****************************************************************************/
/* CLASSES POSITIONNEMENT DE BLOCK ########################################*/
/***************************************************************************/

/* HTML Utilisation :
<div class="txt_img_side">
    <div class="txt_img_side-item">
        <img src="" alt="image">
    </div>
    <div class="txt_img_side-item">
        <span> lorem ipsum </span>
    </div>
</div>
*/
/*-> Permet de placer une image à côté d'un texte <- */
.txt_img_side {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

    .txt_img_side-item {
        padding: 1.2rem;
        text-align: center;
    }

        .txt_img_side-item img {
            width: 10rem; /* A REDIMENSIONNER (selon l'image) */
            height: auto;
        }

        .txt_img_side-item span {

        }

@media (max-width: 600px) {
  .txt_img_side {
    flex-direction: column;
  }
}

.txt_img_side-item {
    padding: 1.2rem;
    text-align: center;
}

.txt_img_side-item img {
    width: 10rem; /* A REDIMENSIONNER (selon l'image) */
    height: auto;
}

@media (max-width: 600px) {
  .txt_img_side-item img {
    width: 6rem;
  }
}

.txt_img_side-item span {

}


/* HTML Utilisation :
<div class="three-div">
    <div class="three-div-item">
        <img src="" alt="image">
        <p> Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="three-div-item">
        <img src="" alt="image">
        <p> Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="three-div-item">
        <img src="" alt="image">
        <p> Lorem ipsum dolor sit amet.</p>
    </div>
</div>  
*/
/*-> Permet de placer 3 div à côté et Responsive <- */
.three-div {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .three-div {
    flex-direction: column;
    align-items: center;
  }
}

.three-div-item {
    text-align: center;
    margin: 1em;
}



/****************************************************************************/
/* CLASSES PRÉ-FABRIQUÉS PR BLOCK HTML (sur site Workitium) ###############*/
/***************************************************************************/

/********************************************/
/* CLASSES DES NAV #########################*/
/********************************************/


/* HTML A METTRE SUR LE SITE PLUS TARD : 
<nav class="nav-logo">
    <a href="#" class="logo"><img src="" alt="LOGO"></a>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">À propos</a></li>
      <li><a href="#">Produits</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
</nav>
*/
/* NAV LOGO ############################# */
.nav-logo_custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 208, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 100%;
    height: 6em;
  }
  
  .logo_custom {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2em;
    display: flex;
  }
    /* Changer la taille de l'image */
    .logo_custom img {
        width: 5rem;
        height: auto;
    }

    .logo_custom h2 {
      margin-top: 1rem;
      margin-left: 1.5rem;
    }
  
  .nav-logo_custom ul {
    display: flex;
    list-style: none;
    margin-right: 2em;
    text-align: center;
  }
  
  .nav-logo_custom ul li {
    margin: 0 10px;
  }
  
  .nav-logo_custom ul li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-logo_custom ul li a:hover {
     color: rgb(211, 211, 211);
  }
  
/* Responsive : */
@media (max-width: 599px) {
.nav-logo_custom {
    flex-direction: column;
}
    .logo_custom {
        text-align: center;
        margin-bottom: 1.8em;
        margin-left: 0em;
        margin-top: 0.5em;
        display: block;
    }

    .logo_custom h2 {
      display: none;
    }

        /* Adapter taille image selon écran */
        .logo_custom img {
            width: 4.5rem;
            height: auto;
        }
    
    .nav-logo_custom ul {
        flex-direction: column;
        margin-right: 2em;
        margin-top: 0;
    }

    .nav-logo_custom ul li {
        margin: 0.8em 0;
    }

    .nav-logo_custom ul li a {
      color: rgb(0, 0, 0);
      font-size: 1.4em;
    }
    
    .nav-logo_custom ul li a:hover {
       color: rgb(93, 93, 93);
    }
}

@media (min-width: 650px) {
  .nav-logo_custom ul li a {
    font-size: 1.4em;
  }
}

/********************************************/
/* CLASSES FOOTERS #########################*/
/********************************************/

/* HTML A METTRE SUR LE SITE PLUS TARD : 
<footer class="footer-vertical">
    <div class="vertical_nav">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="#">Produits</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="vertical_social">
      <a href="#" target="_blank"><img src="" alt="logo réseaux"></a>
      <a href="#" target="_blank"><img src="" alt="logo réseaux"></a>
      <a href="#" target="_blank"><img src="" alt="logo réseaux"></a>
      <a href="#" target="_blank"><img src="" alt="logo réseaux"></a>
    </div>
    <div class="vertical_copyright">
      <p>Copyright © 2020 MonSite. Tous droits réservés.</p>
    </div>
</footer>
*/
/* FOOTER-VERTICAL ########################### */
.footer-vertical_custom {
    background-color: rgb(48, 48, 48);
    color: #fff;
    padding: 2em 0;
  }
  
  .vertical_nav_custom {
    display: flex;
    justify-content: center;
  }
  
  .vertical_nav_custom ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .vertical_nav_custom li {
    padding: 0em 1em 0.5em 1em;
  }
  
  .vertical_nav_custom a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .vertical_social_custom {
    display: flex;
    justify-content: center;
  }
  
  .vertical_social_custom a {
    color: #fff;
    padding: 1em 0.5em 1em 0.5em;
  }
  
  .vertical_copyright_custom {
    text-align: center;
  }
  
  .vertical_copyright_custom p {
    margin: 0;
    font-size: 1em;
  }

@media (max-width: 768px) {
  .vertical_nav_custom ul {
    margin-bottom: 0.5em;
  }

  .vertical_social_custom {
    margin-bottom: 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .vertical_nav_custom {
    flex-direction: row;
  }

  .vertical_nav_custom ul {
    margin-bottom: 1em;
  }

  .vertical_nav_custom li {
    margin-right: 1.2em;
    margin-bottom: 0;
  }

  .vertical_social_custom {
    margin-bottom: 1em;
  }
}

@media (min-width: 992px) {
  .vertical_nav_custom {
    flex-direction: row;
    font-size: 1.1em;
  }

  .vertical_nav_custom ul {
    margin-bottom: 1eù;
  }

  .vertical_nav_custom li {
    margin-right: 1.2em;
    margin-bottom: 1em;
  }

  .vertical_social_custom {
    margin-bottom: 1em;
  }

  .vertical_copyright_custom p {
    margin: 0;
    font-size: 1.1em;
  }
}
